name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang pkg-config libavcodec-dev libavformat-dev libavfilter-dev libavdevice-dev libswresample-dev libswscale-dev
    - name: Build
      run: cargo build --features ffmpeg
    - name: Run tests
      run: cargo test --features ffmpeg 
    - name: Build Python bindings
      run: maturin develop -F python -F ffmpeg
